@import '~antd/dist/antd.less';



.Header-menu{
    justify-content: center;
}

.Header-menu-element{
    margin: auto
}

#Header-menu-element-logo{
    margin: 0;   
}


#Header-menu-element-settings{
    margin-right: 0;   
}

#Header-menu-element-item1{
    margin-right: 0;   
}

#Header-menu-element-item2{
    margin-left: 3%;   
    margin-right: 3%;   
}

#Header-menu-element-item3{
    margin-left: 0;
    margin-right: 0;   
}

.Header-dp{
    display: flex;
    flex-direction: row;
    color: black
}

.Header-dp-logo{
    width: 45px;
    height: 45px;
}

.Header-dp-text{
    visibility: visible;
    position: relative;
}

.Body{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .Header-dp-text{
        visibility: hidden;
        position: absolute;
    }

    #Header-menu-element-item1{
        margin-right: auto;   
    }

    #Header-menu-element-item2{
        margin-left: auto;   
        margin-right: auto;   
    }
    
    #Header-menu-element-item3{
        margin-left: auto;   
    }
}