
.WorldCarbonEmissionsMap-graph-container-desktop{
    height: 30vw;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
}


.WorldCarbonEmissionsMap-graph-container-mobile{
    height: 0vw;
    width: 0vw;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .WorldCarbonEmissionsMap-graph-container-mobile{
        height: 80vh;
        width: 100vw;
        visibility: visible;
    }
    .WorldCarbonEmissionsMap-graph-container-desktop{
        height: 0vw;
        width: 0vw;
        visibility: hidden;
    }
}
    