.CryptoEnergies-FlexContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.CryptoEnergies-Description{
    width: 100%;
    margin-left: 10rm;
}

@media screen and (max-width: 800px) {
    .CryptoEnergies-FlexContainer{
        flex-direction: column;
    }
   
}
    